<div class="nav_bar">
    <div class="logo">
        <a href="/"><img src="images/HOME/logo.png" alt="ngtc"><a>
    </div>

    <nav>
        <ul>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/works">OUR WORKS</a></li>
            <li><a href="/team">TEAM</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul>
    </nav>
</div>