<nav class="navbar">

    <div class="brand-title logo">
        <a href="/"><img src="images/HOME/logo@2x.png" alt="ngtc"></a>
    </div>

    <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    
    <div class="navbar-links">
        <ul>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/works">OUR WORKS</a></li>
            <li><a href="/team">TEAM</a></li>
            <li><a href="/contact">CONTACT</a></li>
        </ul> 
    </div>

</nav>
