<% include partials/head.ejs %> 

<body>
    <div class="container">
        <%- include partials/nav.ejs %>
    </div>

    <div class="container contact_container">
        
        <div class="contact_info">
            <div class="contact_info_img">
                <img src="/images/CONTACT/contact.png" alt="work">
            </div>

            <div class="contact_info_form">
                <div class="contact_details">
                    <div class="get_in_touch_img">
                        <img src="/images/CONTACT/get_in_touch.png" alt="get in touch">
                    </div>

                    <div class="contact_info_para">
                        <p>Lorem ipsum do quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>

                <div class="contact_form">
                    <form id="form_details" method="post" action="/contact/store">
                        <label for="name">Name: </label>
                        <input type="text" value="" name="name">
                        
                        <label for="email">Email: </label>
                        <input type="email" value="" name="email">
                        
                        <label for="subject">Subject: </label>
                        <input type="text" value="" name="subject">
                        
                        <label for="message">Message: </label>
                        <input type="textarea" value="" name="message">  

                        
                    
                        <!--<input type="submit" name="" value="Submit">-->
                    </form>
                    <div class="learn_btn left" style="margin-top: 5px">
                        <a href="#" target="_blank">LEARN MORE
                            <div class="learn_btn_img"><img src="/icons/whitearrow.png"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include partials/contact_block.ejs %>

    <hr class="hr_full">

    <%- include partials/footer.ejs %>  
</body>

</html>