<%- include partials/head.ejs %> 

<body>
    <header>
        <div class="overlay">
            <div class="container">

                    <%- include partials/nav.ejs %>

                    <div class="home_image">
                        <img src="images/HOME/new_grad_tech_collective.png" alt="New Grad Tech Collective">
                    </div>
            </div>
        </div>
    </header>
            
    <div id="main_block">
        <div class="container">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cras semper auctor neque vitae tempus quam pellentesque. Interdum consectetur libero id faucibus nisl tincidunt eget nullam non. Tincidunt arcu non sodales neque sodales. Feugiat pretium nibh ipsum consequat. Quam viverra orci sagittis eu volutpat odio facilisis. Senectus et netus et malesuada fames ac turpis egestas.
            </p>

            <div class="learn_btn">
                <a href="#">LEARN MORE
                    <div class="learn_btn_img"><img src="/icons/whitearrow.png"></div>
                </a>
            </div>
        </div>
    </div>

    <hr class="hr_left">

    <div id="work_block">
        <div class="container">

            <div class="what_we_do">
                
                <div class="work_row">
                    <div class="work_img">
                        <img src="/images/HOME/what_we_do.png">
                    </div>

                    <div class="branding">
                        <h3>Branding &<br> Graphic Design</h3>
                        <p>Lorem ipsum do quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>

                <div class="work_row">
                    <div class="ux_left">
                    <h3>User Experience</h3>
                    <p>Lorem ipsum do quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                    <div class="ux_right">
                    </div>
                </div>

                <div class="work_row">
                    <div class="pd_left">
                    </div>

                    <div class="pd_right">
                    <h3>Product Development</h3>
                    <p>Lorem ipsum do quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>

            </div>
        
            <div class="learn_btn">
                <a href="#">SEE OUR WORKS
                    <div class="learn_btn_img"><img src="/icons/whitearrow.png"></div>
                </a>
            </div>
        </div>
    </div>

    <hr class="hr_right">

    <br>
    <br>

    <div id="team_block">
        <div class="container">
            <div class="team_img">
                <img src="/images/team_stock.jpg" alt="team">
            </div>

            <div class="team_content">                
                <div class="team_content_img">
                    <img src="/images/THE TEAM/the_team.png">
                </div>

                <div class="team_content_para">
                    <p>Lorem ipsum do quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>

                <div class="learn_btn">
                    <a href="#">MEET THE TEAM
                        <div class="learn_btn_img"><img src="/icons/whitearrow.png"></div>
                    </a>
                </div>
            </div>

        </div>
    </div>

   <%- include partials/contact_block.ejs %>

    <hr class="hr_full">

    <%- include partials/footer.ejs %> 

</body>

</html>