<% include partials/head.ejs %> 

<body>
    <div class="container">
        <%- include partials/nav.ejs %>
    </div>

    <div class="container team_container">
        
        <div class="team_info">
            <div class="team_info_img">
                <img src="/images/THE TEAM/the_team.png" alt="work">
            </div>

            <div class="team_info_para">
                <p>Lorem ipsum do quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>

    <!--<div class="team_table">
        <table>
            <tr>
                <td class="name">Shannon</td>
                <td class="job">Project Management & Communication</td>
                <td>
                <div class="learn_btn">
                    <a href="#">See Profile
                        <div class="learn_btn_img"><img src="/icons/whitearrow.png"></div>
                    </a>
                </div>
                </td>
            </tr>
            <tr>
                <td class="name">Nikko</td>
                <td class="job">Graphic & Brand Designer</td>
                <td>
                <div class="learn_btn">
                    <a href="#">See Profile
                        <div class="learn_btn_img"><img src="/icons/whitearrow.png"></div>
                    </a>
                </div>
                </td>
            </tr>
            <tr >
                <td class="name">Shadia</td>
                <td class="job">Full Stack Developer</td>
                <td>
                    <div class="learn_btn">
                    <a href="#">See Profile
                        <div class="learn_btn_img"><img src="/icons/whitearrow.png"></div>
                    </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="name">Saniya</td>
                <td class="job">Full Stack Developer</td>
                <td>
                    <div class="learn_btn">
                    <a href="#">See Profile
                        <div class="learn_btn_img"><img src="/icons/whitearrow.png"></div>
                    </a>
                    </div>
                </td>
            </tr>
            <tr >
                <td class="name">Sohana</td>
                <td class="job">Full Stack Developer</td>
                <td>
                    <div class="learn_btn">
                        <a href="#">See Profile
                            <div class="learn_btn_img"><img src="/icons/whitearrow.png"></div>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>-->

    <div class="team_members_list">
        <div class="member">
            <p>Shannon</p>
        </div>
        <div class="role">
            <p>Project Management & Communication</p>
        </div>
        <div class="profile">
            <div class="learn_btn">
                <a href="#">See Profile
                    <div class="learn_btn_img"><img src="/icons/whitearrow.png"></div>
                </a>
            </div>
        </div>


        <div class="member">
            <p>Nikko</p>
        </div>
        <div class="role">
            <p>Graphic & Brand Designer</p>
        </div>
        <div class="profile">
            <div class="learn_btn">
                <a href="#">See Profile
                    <div class="learn_btn_img"><img src="/icons/whitearrow.png"></div>
                </a>
            </div>
        </div>


        <div class="member">
            <p>Shadia</p>
        </div>
        <div class="role">
            <p>Full Stack Developer</p>
        </div>
        <div class="profile">
            <div class="learn_btn">
                <a href="#">See Profile
                    <div class="learn_btn_img"><img src="/icons/whitearrow.png"></div>
                </a>
            </div>
        </div>

        <div class="member">
            <p>Saniya</p>
        </div>
        <div class="role">
            <p>Full Stack Developer</p>
        </div>
        <div class="profile">
            <div class="learn_btn">
                <a href="#">See Profile
                    <div class="learn_btn_img"><img src="/icons/whitearrow.png"></div>
                </a>
            </div>
        </div>

        <div class="member">
            <p>Sohana</p>
        </div>
        <div class="role">
            <p>Full Stack Developer</p>
        </div>
        <div class="profile">
            <div class="learn_btn">
                <a href="#">See Profile
                    <div class="learn_btn_img"><img src="/icons/whitearrow.png"></div>
                </a>
            </div>
        </div>
    </div>

    <%- include partials/contact_block.ejs %>

    <hr class="hr_full">

    <%- include partials/footer.ejs %>  
</body>

</html>